
{% extends "website/header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'website/css/blog-home.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/comment.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Blog Posts
                    <small>by Authors</small>
                </h1>

                {% for post in object_list %}
                <!-- First Blog Post -->
                <div class="well">
                <h2>

                    <a href="/blog/{{post.id}}">{{post.title}}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{post.author}}</a>
                </p>
                <hr>
                <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
                <hr>
                <p>{{post.body|safe|linebreaks}}</p>
                <a class="btn btn-primary" href="/blog/{{post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.date|date:"Y-m-d"}}</p>
                </div>
                    <hr>
                    <h3>Comments:</h3>
                                <div class="well">

                                {% for obj in comments %}
                                        {% if post.id == obj.comnt_on.id %}
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                     <div class="panel panel-white post panel-shadow">
                                                                            <div class="post-heading">
                                                                                    <div class="pull-left image">
                                                                                        <!-- <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image"> -->
                                                                                    </div>
                                                                                <div class="pull-left meta">
                                                                                    <div class="title h5">
                                                                                        <a href="#"><b>{{obj.author}}</b></a>
                                                                                        made a post.
                                                                                    </div>
                                                                                    
                                                                                     <h6 class="text-muted time">@ {{obj.date}} </h6>
                                                                                    
                                                                                 </div>
                                                                             </div> 
                                                                        {% if post.author == obj.author %} 
                                                                                 <div class="post-description"> 
                                                                               <p> {{ obj.content|linebreaks}} </p>
                                                                        </div>
                                                                        {% else %}
                                                                            

                                                                             <br>
                                                                            <div class="post-description"> 
                                                                                   <p> {{ obj.content|linebreaks}} </p>
                                                                            </div>
                                                                            <br>
                                                                         {% endif %}
                                                                        
                                                                     </div>
                                                                </div>
                                                             </div>
                                                        </div>                               
                                       {% endif %}
                            {% endfor %}
                                                 <a href="{{ post.id }}/comnt/" class="btn btn-primary">Leave a comment<span class="glyphicon glyphicon-chevron-right"></span></a>

                                </div>
                    <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                {% endfor %}

                


                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">

                            {% for obj in categories %}
                                <li><a href="/blog/{{post.id}}">{{ obj.category }}</a>
                                </li>
                               {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; SuPr.Pr</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
{% endblock %}